# secrets
platform/esp32/secrets.h

# build output
build/
.pio/

# prebuilt SDL packages (setup manually)
external/SDL3/
external/SDL_ttf/
external/SDL3_image/

# editor/OS cruft
.vscode/.browse.c_cpp.db*
Thumbs.db